body {
	background: #DAE0E6;
}

#bg-white{
	color: white;
}

.about {
	font-size: 10px;
	background: white;
}

.btn-wide {
	width: 8.0em;
}

.search-wide {
	width: 18.0em !important;
	background-color: rgb(246, 247, 248);
	border-color: rgb(237, 239, 241);
}

.navbar {
	height: 45px !important;
}

a.custom-card:hover{
	text-decoration: none;
}
